html {
  min-height:100%;
  overflow-x:hidden;
  overflow-y:scroll;
  position:relative;
  width:100%;
}

button, canvas, input {
	/*Stop the blue outline!*/
	outline: none !important;
	background-color : transparent;
	border: 0px
}

a{
	/* Stop the light grey background */
	background-color: transparent
}

.center {
	text-align: center
}

i:hover, i:active{
	text-decoration: none;
	background-color : transparent
}

/* All Menus */

.navbar li{
	margin: 0; padding: 0;
	display: inline-block;
	height: 100%;
}

.navbar a, .navbar i, .navbar ul{
	margin: 0; padding: 0;
	white-space: nowrap;
}

.navbar .menuitem{
	display: inline-block;
	height: 100%;
}

.navbar .container-fluid{
	display: inline-block;
	height: 100%;
}

/* Top Menu */

#navigation-bar .using{
	opacity: .5;
	background-color: #FFFFFF
}

#navigation-bar{
	background-color: #B0B0B0;
	height: 20%
}

#navigation-bar .nav.navbar-nav{
	height: 100%;
	background-color: #FF2233
}

#navigation-bar .container-fluid{
	height: 100%;
	width: 100%;
}

#navigation-bar .nav.navbar-nav.navbar-right{
	width: 250px;
	height: 100%
}

#navigation-bar .nav.navbar-nav.navbar-left{
	width: 20%;
}

#navigation-bar .nav.navbar-nav.navbar-left #home{
	height: 100%;
	width: 100%;
}

#navigation-bar .nav.navbar-nav.navbar-left #home a{
	background-color: transparent;
	height: 100%;
	width: 100%;
}

#navigation-bar .container-fluid .nav.navbar-nav.navbar-left #home a #homeicon{
	left:0%;
	height: 100%;
	width: 100%;
}

#navigation-bar .container-fluid #header{
	top: 10%;
	width: 10%;
	height: 100%;
	background-color: #FF4444;
} 

#navigation-bar .container-fluid #header a#typename{
	padding: 40px;
	width: 100%;
	height: 100%;
	font-size: 40px;
} 

#navigation-bar #home:active{
	opacity: .5;
	background-color: #FFFFFF
}

#navigation-bar #character-click{
	height: 100%;
}

#navigation-bar #charactericon{
	height: 100%;
}

/*Middle */
.graphics{
	position: fixed;
	top:20%;
	bottom:10%;
	width: 100%;
	background-color: #fdf;
	text-align: center;
}

#canvas{
	top: 20%;
	width: 50%;
	height: 70%;
}

/* Bottom Menu */

.navbar.navbar-default.navbar-fixed-bottom{
	background-color: #B0B0B0;
	height: 10%;
	width: 100%;
}

#characteristics-bar .nav.navbar-nav{
	background-color: #FF2233;
	width: 100%;
	height: 100%;
}

#characteristics-bar .nav.navbar-nav li{
	height: 100%;
	width: 25%;
}

#characteristics-bar .nav.navbar-nav li button{
	height: 100%;
	width: 100%;
}