<nav class="navbar navbar-default navbar-fixed-top" id="navigation-bar">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li id="home"><a href="#/"><input id="homeicon" type="image" src="pics/homeicon.png" alt="home"></input></a></li>
    </ul>

    <div class="navbar-header" id="header">
      <a class="navbar-brand" id="typename" href="#/">{{type.name}}</a>
    </div>

    <ol class="nav navbar-nav navbar-right">
      <li ng-repeat="d in data">
        <a href="#/characteristics/{{d.id}}" id="{{d.id}}" class="circlelink {{isActive(d.id)}}"><i class="fa fa-circle"></i></a>
      </li>
      <li><a href="#/results"><input id="charactericon" type="image" src="pics/charactericon.png" alt="character"></input></a></li>
    </ol>
  </div>
</nav>

<div class="graphics">
  <p>{{type.colour}}</p>
  <p><canvas id="canvas"></canvas></p>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom" id="characteristics-bar">
  <ul class="nav navbar-nav">
    <li ng-repeat="d in type.options">
      <button class="charabutton" href="#/characteristics/{{type.id}}" ng-click="setColour(d.name)"><li>{{d.name}}</li></button>
    </li>
  </ul>
</nav>