<div data-ng-init="init()" id="controller-all">
  <nav class="navbar navbar-default navbar-fixed-top" id="navigation-bar">
    <ul class="nav nav-justified">
      <li id="home"><a href="#/"><input id="homeicon" type="image" src="pics/homeicon.png" alt="home"></input></a></li>
      <li class="navbar-header" id="header"><h1 id="typename">Home</h1></li>
      <li ng-repeat="d in data">
        <a href="#/characteristics/{{d.id}}"><i class="fa fa-circle" alt="{{d.name}}"></i></a>
      </li>
    </ul>
  </nav>

  <div class="graphics">
    <p>{{type.colour}}</p>
    <p><canvas id="canvas"></canvas></p>
  </div>

  <div id="datahome">
    <table>
        <tr><th>DATA</th></tr>
         <tr ng-repeat="d in data">
          <td>{{d.name}} </td> <td>{{d.colour}}</td>
        </tr>
    </table>
  </div>
</div>