<nav class="navbar navbar-default navbar-fixed-top" id="navigation-bar">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li id="home" class="active"><a href="#/"><input id="homeicon" type="image" src="pics/homeicon.png" alt="home"></input></a></li>
    </ul>

    <div class="navbar-header" id="header">
      <a class="navbar-brand" id="typename" href="#/">Home</a>
    </div>

    <ol class="nav navbar-nav navbar-right">
      <li ng-repeat="d in data">
        <a href="#/characteristics/{{d.id}}"><i class="fa fa-circle" alt="{{d.name}}"></i></a>
      </li>
    </ol>
  </div>
</nav>

<div class="graphics">
  <p><canvas id="canvas"></canvas></p>
  <p>{{message}}</p>
</div>

<div id="datahome">
  <table>
      <tr><th>DATA</th></tr>
       <tr ng-repeat="d in data">
        <td>{{d.name}} </td> <td>{{d.colour}}</td>
      </tr>
  </table>
</div>