<div class="topmenu">
  <header>
      <nav class="navbar navbar-default" id="menubar">
          <ul class="nav navbar-nav navbar-left">
            <li id="home" class="active topelement"><a href="#/"><input type="image" src="pics/homeicong.png"></input></a></li>
          </ul>

          <div class="navbar-header" id="header">
            <a class="navbar-brand" id="typename" href="#/">Home</a>
          </div>

          <div class="righticons">
          <ul class="nav navbar-nav navbar-right">
            <li ng-repeat="d in data">
              <a href="#/characteristics/{{d.id}}"><i class="fa fa-circle"></i></a>
            </li>
          </ul>
        </div>
      </nav>
  </header>
</div>

<div class="graphics">
  <p><canvas id="canvas"></canvas></p>
  <p>{{message}}</p>
</div>

<div id="datahome">
  <table>
      <tr><th>DATA</th></tr>
       <tr ng-repeat="d in data">
        <td>{{d.name}} </td> <td>{{d.colour}}</td>
      </tr>
  </table>
</div>