button, canvas {
	/*Stop the blue outline!*/
	outline: none !important;
	background-color : transparent;
	border: 0px;
}

#canvas{
	border-radius: 50px;
	border: 10px solid #B0B0B0;
	width: 200px;
	height: 100px;
}

#menubar{
	background-color: #B0B0B0; 
	height: 100px;
}

#menubar #menubutton{
	/*Make the button invisible */
	background-color : transparent;
	border: 0px;
	width: 100px;
	height: 100px;

	#menulogo{
		/*center the logo in the menu*/
    	margin: auto;
    	width: 44px;
    	height: 44px;
	}
}

#menubar{
	i:hover, i:active{
		text-decoration: none;
	}
}

.charabutton{
	background-color: #fff;
}

#charamenu{
	bottom: 0;
}

.topmenu{
	header {
	    position:fixed;
	    top:0;
	    left:0;
	    display:block;
	    width:100%;
	    height:60px;
	    border-bottom:1px solid #108ac2;
	    box-shadow:1px 1px 1px 1px rgba(16,138,194,0.76);
	    background:#fff;
	    opacity:.9;
	}

	header nav {
	    width:960px;
	    margin:0 auto;
	}
}

#charamenu{
    /* this is inside @media screen and (max-width: 480px)  */
	header {
	    position:fixed;
	    bottom:0 !important;
	    left:0 !important;
	    top: initial;
	}

	header nav {
	    width:100%;
	    margin:0;
	    height:80px;
	}
	.container {
	    margin:0 0 100px 0;
	}
}